.favor-avatar {
  width: 75px;
  height: 75px;
}

.favor-text {
  padding-left: 20px;
  padding-right: 40px;
}

.favor-text h1 {
  font-size: 28px;
  color: var(--ion-color-dark);
}

.favor-text p {
  color: var(--ion-color-dark-tint);
  line-height: 1.5;
}

.image-card-wrapper {
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
  -webkit-overflow-scrolling: touch;
  -webkit-scrollbar: none;
  margin-left: 20px;
}

.button-do-it {
  margin-top: 20px;
  margin-left: 20px;
  margin-right: 20px;
}
